.footer {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  color: #fff;
  padding-top: 80px;
  opacity: 0;
  transform: translateY(80px);
  transition: all 1s ease;
}

.footer-show {
  opacity: 1;
  transform: translateY(0);
}

.footer-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 40px;
  padding: 0 8% 60px;
}

.footer-box h2 {
  font-size: 28px;
  margin-bottom: 15px;
}

.footer-box h3 {
  font-size: 18px;
  margin-bottom: 15px;
}

.footer-box p,
.footer-box ul li {
  font-size: 14px;
  line-height: 1.7;
  color: #ddd;
}

.footer-box ul {
  list-style: none;
  padding: 0;
}

.footer-box ul li {
  margin-bottom: 10px;
  cursor: pointer;
  transition: color 0.3s;
}

.footer-box ul li:hover {
  color: #fff;
}

.footer-bottom {
  text-align: center;
  padding: 20px;
  background: rgba(0, 0, 0, 0.85);
  font-size: 13px;
  color: #aaa;
}

/* Tablet */
@media (max-width: 992px) {
  .footer-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* Mobile */
@media (max-width: 576px) {
  .footer-container {
    grid-template-columns: 1fr;
    text-align: center;
  }
}
