body{
  margin: 0px;
  padding: 0px;
  scrollbar-width: none;
}
/* ===== Hide Scrollbar (All Browsers) ===== */

/* Chrome, Edge, Safari */
*::-webkit-scrollbar {
  width: 0px;
  height: 0px;
}

/* Firefox */
* {
  scrollbar-width: none;
}

/* IE / Edge Legacy */
* {
  -ms-overflow-style: none;
}


.menu li {
  cursor: pointer;
  transition: 0.3s ease;
}



